
*{
  box-sizing: border-box;
}

body {
  @apply p-0 m-0; /* Avoid using `*` to reset padding/margin */
} 

body{
  font-family: 'Segoe UI', Arial, sans-serif;
  overflow-y: hidden;
}

li{ list-style: none;}


a{
  text-decoration: none;
}

img { height: auto; }

button { cursor: pointer; }

address{ font-style: normal; }

input{ display: block}

@import "tailwindcss";

@theme{
  --breakpoint-2md: 912px;
}
